[2015-12-31 05:36] thalesfsp opened #3 "Abandoned?"
Two PR's needs merges also when running `go get` this error occour:

[code]

@vieux

[2015-12-31 06:59] vieux commented on #3
@thalesfsp thanks for the reminder, I merged the 2 PRs and will update the code asap to rely on https://github.com/docker/go-plugins-helpers instead of https://github.com/calavera/dkvolume

[2016-01-06 22:53] assembledadam commented on #3
Wanted to use this but getting the same error. Is there a workaround for now?

[2016-01-07 18:32] thalesfsp commented on #3
@vieux let me know when it will be ready, we have plans to use here, in the office, but it's even working.. so. Thanks!

[2016-01-07 21:39] vieux commented on #3
@assembledadam @thalesfsp it should be good. I just pushed https://github.com/vieux/docker-volume-sshfs/commit/87bf704a4b18d0d19e9379e3f64457e4fe47ba45 that uses the right dependencies

[2016-01-07 22:18] thalesfsp commented on #3
@vieux thanks!

[2016-05-02 19:04] niieani opened #6 "Use driver_opts instead of volume name"
The driver doesn't work with `docker-compose`, because there is no way to create a named volume with a `#` in it. Instead of this hacky workaround it would be best to use the native `options`, e.g. like this:

[code]

As an example, see: https://github.com/CWSpear/local-persist

[2016-05-30 17:40] #3 closed

[2016-06-27 20:45] Azulinho opened #7 "fails to compile"
[code]

[2016-08-02 21:48] vieux commented on #7
@Azulinho I just updated it. thanks

[2016-08-02 21:48] #7 closed

[2016-08-02 21:49] vieux commented on #6
@niieani I updated the plugins recently, thanks.

[2016-08-02 21:49] #6 closed

[2016-08-16 15:30] 2Kable opened #8 "Not working with docker-compose.yml"
I'm unsure with the syntax, but I'm unable to create a volume using docker-compose, it fails when mounting it to a service

[code]

the command works in console:

`docker volume create -d vieux/sshfs -o sshcmd=<user>@<host>:<path-in-host> -o password=<password> --name sshvolume`

[2016-10-11 17:03] courcelm opened #9 "Volume not created"
It seems the volume is not created after issuing the docker volume create command.

docker volume ls   is not showing anything

Here is my docker version:
Client:
 Version:      1.12.2-rc3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   cb0ca64
 Built:        Thu Oct  6 22:10:40 2016
 OS/Arch:      linux/amd64
 Experimental: true

Server:
 Version:      1.12.2-rc3
 API version:  1.24
 Go

[2017-01-29 01:54] giminni opened #11 "Non standard port option"
I want use a non standard port (e.g. 2222), can this plugin get another option like:
docker volume create -d vieux/sshfs --name [volume-name] -o sshcmd=[username]@[hostname]:[mountpoint] -o password=[user-password] -o port=[sshfs-port]

[2017-02-07 20:52] muehle28 opened #12 "Can't use the volume with more than one container"
When the mounted sshfs volume is used on more than one container the following error is raised.

If the volume is used with just one container the plugin works fine.

[2017-02-09 01:08] vieux commented on #12
@muehle28 thanks, I;ll take a look

[2017-02-09 01:08] vieux commented on #11
@giminni good idea, I'll implement that

[2017-02-09 01:55] ghostplant opened #14 "Bug: in-memory v.connections value lost when it crashes and restarted"
When multi-containers share volume of same name, crash of plugin driver will be unable to correctly handle their umount once it is restarted.

[2017-02-09 20:03] #11 closed

[2017-02-09 20:04] vieux commented on #14
@ghostplant I'll look into it, any hints on why the plugin crashed ?

[2017-02-09 23:06] vieux commented on #8
@2Kable I have no issue with this compose file

[code]

[2017-02-09 23:06] #8 closed

[2017-02-09 23:32] vieux commented on #9
@courcelm can you reproduce with 1.13.x ?

[2017-02-10 01:41] vieux commented on #12
@muehle28 fixed in https://github.com/vieux/docker-volume-sshfs/commit/fe8b54f13499e3b88a2faa8e60526d37acf66b49

[2017-02-10 01:41] #12 closed

[2017-02-10 01:41] vieux commented on #14
@ghostplant I believe it's fixed by https://github.com/vieux/docker-volume-sshfs/commit/fe8b54f13499e3b88a2faa8e60526d37acf66b49

[2017-02-10 03:25] ghostplant commented on #14
Do you think it is legal when exiting a container with 'volume xxx is currently used by a container' reported?

[2017-02-10 07:13] ghostplant commented on #14
Besides, latest upstream builds a docker-plugin-driver binary failing to run on ubuntu due to 'libc.musl-x86_64.so.1 => not found'.

[2017-02-10 07:50] ghostplant commented on #14
I think API should contain req.{Name, ID, **nameIsShared**}. Thus it will simplify most of 3rd-party plugin driver without any kind of `counter` bugs.

[2017-02-10 08:04] ghostplant commented on #14
**Case 1:**
docker volume plugin install vieux/sshfs
docker volume create -d vieux/sshfs -o sshcmd=a@0.0.0.0:/tmp -o password=123 sshvolume
docker run -it --name n1 -d -v sshvolume:/ssh alpine:3.4 sleep 1h
killall docker-volume-sshfs

$ docker volume rm sshvolume
Error response from daemon: Unable to remove volume, volume still in use: remove sshvolume: volume is in use - [2f56f17a3bba9a2f1ed72ae3

[2017-02-10 08:09] ghostplant commented on #14
**Case 2:**
$ docker volume plugin install vieux/sshfs
$ docker volume create -d vieux/sshfs -o sshcmd=**a@0.0.0.0:/tmp** -o password=**123** sshvolume
$ docker run -it --name n1 -d -v sshvolume:/ssh alpine:3.4 sleep 1h
$ docker run -it --name n2 -d -v sshvolume:/ssh alpine:3.4 sleep 1h
$ killall docker-volume-sshfs
$ docker kill n1 && docker rm n1
$ docker kill n2 && docker rm n2
$ docker volume

[2017-02-10 18:41] courcelm commented on #9
It works with 1.13

[2017-02-10 18:41] #9 closed

[2017-02-10 20:13] courcelm opened #15 "Chown permission denied"
I'm having the following issue when starting mysql container:

First I checked that the volume is ok by listing files

$ sudo docker run -it --rm -v pikwik_db:/data busybox ls /data
auto.cnf            ibdata1             piwik
ib_buffer_pool      ibtmp1              sys
ib_logfile0         mysql
ib_logfile1         performance_schema

Then I try to use the same volume with mysql container:

$ sud

[2017-02-10 23:04] vieux commented on #14
@ghostplant the old usecase where you have `docker-volume-sshfs` isn't supported anymore.
Can you try with 1.13 and the new style plugins ?

[2017-02-11 02:51] ghostplant commented on #14
I did the test on Docker 1.13. See both **Case 1** & **Case 2** contain `docker volume plugin xxx` which is unsupported before 1.13.

[2017-02-18 02:26] harshadyeola opened #16 "Not able to mount volume"
[code]

[2017-03-06 13:15] koenlek opened #17 "Permission denied when trying to access from non-root user in container"
Dear @vieux,

I just found out about this great plugin! It really seems to offer exactly what I need. I just ran into a small issue. For reasons I won't explain here, the container that I use has to be run by a non-root user. From that user, I cannot access the mount: if I try to `cd` or access anything in it, I get an error: `bash: cd: <path_name>: Permission denied`. When I switch to root (`sudo

[2017-03-06 21:06] koenlek commented on #17
It turns out that you need to use the `-o allow_other` option of `sshfs`. I also figured out more or less how I could add this to the plugin by patching `main.go`. For now, there is even a quick and dirty fix to get it working using the current version of the plugin:

[code]

After my clean fix, it would look like this:

[code]

[2017-03-08 16:53] giminni opened #19 "Always getting "... sshfs.sock: connect: no such file or directory" in docker 17.03-ce (swarm mode) using rpi and rasbian v8/jessie"
I tried to create a volume and I got always:
**sshfs.sock: connect: no such file or directory**
I'm using swarm mode 17.03.0-ce build 60ccb22 with rpi under rasbian v8/jessie
connecting to a rpi using also the same debian/jessie environment.

fuse and ssh is installed on target and swarm hosts

[2017-03-13 08:18] rootsongjc commented on #19
+1 Where the `socketAddress = "/run/docker/plugins/sshfs.sock"` used?

[2017-03-30 20:58] vieux commented on #19
@giminni @rootsongjc I'm not able to reproduce. do you still have the issue ?

[2017-03-31 02:10] rootsongjc commented on #19
The problem has been solved. Building the plugin on my Mac but running on CentOS so that the `.sock` doesn't created.

[2017-03-31 22:29] vieux commented on #19
@rootsongjc how are you building the plugin, and why aren't you using the official one, `vieux/sshfs:latest` ?

[2017-04-01 02:02] rootsongjc commented on #19
@vieux yes, I build the plugin manually, and it is OK for me.

[2017-04-03 21:05] vieux commented on #19
@rootsongjc not sure I understand, but looks like you're not building it correctly

[2017-04-03 21:06] vieux commented on #19
see https://github.com/vieux/docker-volume-sshfs/blob/master/Dockerfile#L5 , you have to mkdir the folder

[2017-04-05 07:40] rootsongjc commented on #19
@vieux This is not a problem, I have solved it. Thank you.

[2017-04-05 23:12] #19 closed

[2017-05-10 20:04] JoooostB commented on #16
Did you find a way to resolve this issue?

[2017-05-28 11:02] chrsch opened #21 "Unable to use volume provided by vieux/sshfs"
Goal: Assign sshfs based volume to a docker container.
Note 1: sshfs is accessible as tested with other sftp client
Note 2: The **problem is related to the password**: If it contains specific chars e. g. } )

Step 1: Install plugin
`docker plugin install vieux/sshfs`

Step 2: Create volume
`docker volume create -d vieux/sshfs --name sshfs -o sshcmd=user-id@sftp.somehost.com:/some/path/ -o password

[2017-05-28 11:49] chrsch commented on #15
I have the same problem. Listing files work but using the volume in a container produces above error.

[2017-05-28 12:07] chrsch commented on #16
I had a similar problem and for me it was related to special chars in my password. Changed the chars to alpha num only and it worked.

[2017-05-28 12:09] chrsch commented on #8
This issue probably is related to #15 . I have the same problem like @2Kable, but if I inspect the service I  notice the problem ist basically the same as #15 and the volume created by compose is otherwise functional.

[2017-05-28 12:13] chrsch commented on #17
@koenlek Great you already provided this PR! This also will fix #15

[2017-06-16 05:15] cybertk opened #22 "Protect ssh password"
ssh password can be observed with `docker volume inspect sshfsvolume`, is there a way to protect the credential?

[2017-06-27 06:11] cybertk opened #23 "Volume name cannot contain "/""
When use "/" in volume name, `sshfs` failed with

[2017-06-27 07:13] #23 closed

[2017-06-27 07:16] cybertk commented on #15
Same issue here, while WORKDIR is same as mount path.

[2017-07-15 07:03] mattzuba opened #24 "ssh config files and/or private keys"
Is there any plans on allowing the possibility of using private keys instead of passwords, and maybe ssh config files as well?  Kind of related to #22

[2017-07-15 21:22] mattzuba commented on #24
So I made this minor change and rebuilt the plugin and created the source directory on the host with 0700 perms, added a config file (and a private key that is used by a config entry) and it works great!  If there aren't any security implications in this (I don't think there are), I can submit a PR or you can just apply this change or a variation of it.  Allowing this would pretty much solve #22 s

[2017-07-17 18:50] stevvooe commented on #24
@cyli PTAL

@mattzuba We'll take a closer look at this. I haven't thought about this one in a little while. As long as the image doesn't pick up sensitive data from the host and sensitive data is not transmitted in the plugin, then this should work. I think the main user issue with this is that they have to create `/var/lib/docker-volume-sshfs` on every host, which can be confusing or problematic,

[2017-07-20 06:11] prologic commented on #24
Can docker secrets be used instead here?

[2017-07-20 18:09] cyli commented on #24
As I remember from https://github.com/vieux/docker-volume-sshfs/pull/10, we didn't want all keys to be shared by every instance of a container that required an SSHFS volume?  But the key material is not visible to those containers, just the volume plugin container.

@prologic That would probably be a great way to go, since that would mean you wouldn't have to create a mount directory on every node

[2017-07-20 21:58] mattzuba commented on #24
The only downfall I see with secrets, at least with my use case (ci/cd containers) is that it (currently) requires Swarm, and I don't know that ci/cd containers are a good use of Swarm.

@cyli - since this minor change doesn't allow someone mounting a volume to specify which key to use, I don't think that would be an issue here.  In order to use a key for a particular remote server, the ssh config

[2017-07-20 22:07] cyli commented on #24
@mattzuba Makes sense.  The only other possible issue I could see with this is that if we did want to use secrets, trying to bind an `id_rsa` file or some such into `/root/.ssh` which could possibly conflict with the default bind mount.

[2017-08-08 02:51] xemdetia opened #25 "/var/lib/docker/plugins required to exist at docker plugin install time"
I have a nonstandard filesystem layout for docker and installing this plugin gives me this error unless I make `/var/lib/docker/plugins`:

[code]
I can't seem to find a reason in the code as it's requirement to this directory. Once I make the directory the issue goes away. I do not run docker as the root user so if it is supposed to auto-create it I do not have permissions to.

I do see that it is

[2017-08-14 22:58] vieux commented on #25
@xemdetia thanks for the report, You are right I hardcoded `/var/lib/docker/plugins/` assuming it would always exists, but it might not, I'll look into this.

[2017-08-14 22:59] vieux commented on #21
@chrsch can you try with `vieux/sshfs:next` ?  I believe @tiborvass fixed this issue already.

Thanks.

[2017-08-14 23:02] vieux commented on #17
fixed in https://github.com/vieux/docker-volume-sshfs/pull/18

[2017-08-14 23:02] #17 closed

[2017-08-14 23:03] vieux commented on #15
I believe this was fixed by https://github.com/vieux/docker-volume-sshfs/pull/18

[2017-08-14 23:03] #15 closed

[2017-08-15 13:46] chrsch commented on #21
@vieux Yes it is fixed the way @tiborvass modified it. Thanks.

[2017-08-15 13:46] #21 closed

[2017-08-18 21:56] vieux commented on #14
I believe this issues was fixed in `1.0` the state is now saved on disk.

[2017-08-20 03:11] matthew-mcallister commented on #15
@vieux This doesn't appear to fix it, at least not for me: https://i.fluffy.cc/75rnP25jdpV1Knf1JXmMTw1Fpff6r4jQ.html

[2017-08-20 15:02] kevinniu666 commented on #16
ssh key has been deployed between all my nodes, still could not to mount

[root@docker1 sshvol]# docker run -it -d --mount source=sshvol,target=/app --name nginx2 nginx
4a1ae8f60590f04cbe550e6886d141395dccd967dd00480eeed9481ce62e4a67
docker: Error response from daemon: error while mounting volume '/var/lib/docker/plugins/e20216d1fb0581a24ef37eebfd456ce6960ca1db9a8a8bcdfe9416a5dbe4c36d/rootfs/mnt/v

[2017-08-20 15:59] glazeddonut opened #27 "Support for disabled compression"
I would suggest that you add the sshfs options

[code]

which according to some can speed up sshfs a great deal - if you don't need encryption and compression.

https://www.smork.info/blog/2013/04/24/entry130424-163842.html

[2017-08-24 01:21] vieux commented on #27
Thanks for the idea. In the next version I'll simply passthrough every `-o`

[2017-08-24 01:32] vieux commented on #27
@glazeddonut see https://github.com/vieux/docker-volume-sshfs/pull/29

[2017-08-24 23:19] #27 closed

[2017-08-25 00:11] vieux commented on #25
@xemdetia it's far from perfect, but once https://github.com/vieux/docker-volume-sshfs/pull/30/files is merged, you will be able to set this var to any value you desire.

[2017-08-25 18:51] #25 closed

[2017-08-25 18:52] #14 closed

[2017-08-25 20:56] xemdetia commented on #25
Great! Thank you!

[2017-09-01 09:40] mlmarius opened #34 "What if storage goes down ?"
Hi.

I am testing the plugin and when the storage provider goes down, the volume inside the docker container disappears but it never reappears if the storage provider comes back up. How can this be handled ?

[2017-09-04 13:17] glazeddonut opened #35 "sshfs volume and vpn"
Hi

I am wondering how to setup a sshfs volume (in docker-compose) that is used by a container that is on a vpn network.

The ip adresse for the ssh server is on a private class a network - but it seems that the volume declaration (where the ssh server ip address is defined) can't see that network.

How would I do that?

[2017-09-05 21:00] #24 closed

[2017-09-05 21:47] vieux commented on #22
you can use private keys with https://github.com/vieux/docker-volume-sshfs/pull/33

[2017-09-05 21:47] #22 closed

[2017-09-05 21:53] vieux commented on #34
@mlmarius do you have a step by step way to reproduce ?

[2017-09-07 08:32] mlmarius commented on #34
I am running this stack on a 2 node swarm:

[code]

Then I briefly stop ssh-host and restart it. When ssh-host goes down the volume is unmounted from the containers but when ssh-host comes back up or is reachable again the volume does not reappear on the containers.

[2017-09-14 10:53] xkrt commented on #16
I ran into the same issue. Docker logs:
[code]

But if I run on host machine same command everything is fine:
[code]

I think may be plugin should write stdout+stderr of sshfs command to debug log, this may help.

Host OS: CentOs 7.3.1611
Docker version: 17.05.0-ce
Plugin version:  85bd109b6dd3        vieux/sshfs:latest

[2017-09-15 08:55] xkrt commented on #16
UPD: the problem was in old mod_sftp on server, my admin update it and all works fine now.

[2017-09-30 21:15] gargpankaj83 opened #38 "Py-Docker create_container using remote volumes"
I am running a docker container remotely using pydocker library. I need to mount a local directory in the running container. The documentation does mention the way to create a volume using APIs. However, I am unable to figure out how to use the volume while creating the container.

[2017-10-02 12:23] xelra commented on #34
It's quite reasonable to expect a behavior like this. SSH doesn't bring the link up automatically again.

It would be great if the container would use AutoFS or systemd to bring up the SSHFS connection and restore it on disconnect.

[2017-10-02 12:25] xelra opened #39 "ssh-agent possible?"
Is it possible to use an ssh-agent that runs on the host system?

[2017-10-02 18:55] xelra opened #40 "Cannot install plugin on Windows"
I wanted to use Docker to circumvent the lacking sshfs support for Windows. Unfortunately I get the following error when trying to install the plugin.

[code]

[2017-10-15 10:13] NewNork opened #41 "/var/lib/docker issue on Mac OS"
Hi,

I'm trying to run Gitea using Docker volumes on a Mac (Docker CE 17.09). Creating a remote volume works as in

`docker run -v sshvol:/test  --rm alpine sh -c 'echo "Hello World" > /test/somefile'`

will result in a remote file.

However, as soon as the container starts tinkering with `/var/lib/docker`, in this case I think it tries to change permissions in `/var/lib/docker/plugins/<some_rathe

[2017-10-22 09:26] NewNork commented on #41
Actually that shows up on any Docker setup that I've tried to far using postgres docker images

`docker run -d -e POSTGRES_PASSWORD=... -v sshvol:/var/lib/postgresql/data -p 5432:5432 postgres:alpine`

I've tried `postgres:latest` already.

[2017-10-22 20:24] NewNork commented on #41
Seems to be a problem with handling of permissions with docker on remote systems and not an issue with vieux/sshfs

[2017-10-22 20:24] #41 closed

[2017-10-25 13:12] zener79 commented on #15
same problem here running on swarm mode

[2017-11-15 20:15] cocodrino opened #42 "noob question here: is possible restart the volume???"
Hi..how're you???

I've a very noob question, I'm not totally familiar with docker volumes but in my experience, many times after hard use, I need restart the sshfs or davfs because the app start to fail, generally I just unmount the unit and mount it again...this in my local machine

now...how handle it on docker???...what happen if my volume fails???...if I restore my container would restore the

[2017-11-23 12:08] pflorek commented on #40
Had same error. Under Windows 7 with Docker Toolbox (Docker 17.10-CE) I got it successfully installed by:
`docker plugin install vieux/sshfs sshkey.source=/c/Users/myuser/id_rsa`

My problem was that Docker Toolbox mounts only [C:\Users](https://docs.docker.com/toolbox/toolbox_install_windows/#optional-add-shared-directories) into Virtualbox

[2017-11-30 19:29] Gerrel commented on #16
Using: https://hub.docker.com/r/atmoz/sftp/
But get the error VolumeDriver.Mount: exit status 1%!(EXTRA []interface {}=[]).
Updated the apk packages in the container, but still not working!?
(From macosx command line and Cyberduck it is working properly)

Volume: sshfs:latest        storage
Running: docker run -it -v storage:/data busybox ls /
Result: docker: Error response from daemon: error whil

[2017-12-07 15:36] TechnoRoss commented on #42
Volumes are basically 'pluggable disks' to Docker containers.  You mount the volume when you start the container, and the data persisted to the volume has a completely different lifecycle than the container.  If you stop the container (discard it), the data in the volume persists.  If you attach a new container to the same volume, the same data is there as before.  With SSHFS, I'm not sure what wo

[2017-12-15 22:36] victort commented on #34
additionally, consider the `-o reconnect` sshfs option when mounting your volume, which appears to have reconnected my destination after a reboot.

[2017-12-18 23:16] victort opened #43 "cannot get to work with ssh keys"
hi,

I've set up an account on my destination system, the `authorized_keys` file includes the ssh identity `docker volume create` will use (i.e.  `volumeuserkey.pub`). However, _no permutation_ of

`docker volume create -d vieux/sshfs -o sshcmd=volumeuser@volumehost:/home/volumehome/volume -o reconnect -o IdentityFile=$(pwd)/PROJECTS/secrets/volumeuserkey volumemount`

..will work. Even though the

[2017-12-19 08:09] victort commented on #43
nm. i get it now. the key goes -in- the image.

[2017-12-19 08:09] #43 closed

[2017-12-27 04:09] f1d opened #44 "docker vieux/sshfs permission denied"
1. I use vieux/sshfs to create a volume
<pre>
docker plugin install --grant-all-permissions vieux/sshfs
docker volume create  -d vieux/sshfs   -o sshcmd=usfo@192.168.1.1:/swarm-study/web/data  -o password='123' sshvolume
</pre>
2. I create a user on container :usfo <br><br>
Dockerfile:
<pre>
FROM debian
COPY sources.list /etc/apt/sources.list
RUN apt-get update
RUN apt-get install -y apache2
RUN a

[2017-12-27 04:21] f1d commented on #17
@koenlek !!!! Great you already provided this PR! This also will fix !!!

[2017-12-27 04:31] f1d commented on #44
quote:https://github.com/vieux/docker-volume-sshfs/issues/17
Thank @koenlek
It turns out that you need to use the -o allow_other option of sshfs.
<pre>docker volume create  -d vieux/sshfs   -o sshcmd=usfo@192.168.1.1:/swarm-study/web/data  -o allow_other -o password='123!@#qweQWEasdASDa' sshvolume
root@f5132a8f4b84:/# su usfo
$ ls -l / | grep swarm-data
drwxr-x---   1 usfo usfo 4096 Dec 26 10:54 s

[2018-01-03 18:40] swvajanyatek opened #45 "Error response from daemon: VolumeDriver.Mount: exit status 1%!(EXTRA []interface {}=[])."
I'm able to create the volume successfully, but when I try to utilize it, I get the following error:

create:
[code]

[code]

this is my first foray into vieux/sshfs, so I'm not entierly sure this is a bug.

[2018-01-03 21:39] vieux commented on #44
@f1d so can I close this one ?

[2018-01-05 08:14] athurg commented on #45
Maybe it caused by the remote path is not exists.

Try to create the remote path first, then mount the volume.

[2018-01-05 13:15] swvajanyatek commented on #45
I already double checked that both the remote and locks dirs exist.

On Jan 5, 2018 3:14 AM, "Athurg Feng" <notifications@github.com> wrote:

Maybe it caused by the remote path is not exists.

Try to create the remote path first, then mount the volume.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/vieux/docker-volume-

[2018-01-07 03:20] #44 closed

[2018-01-24 16:17] ucyo opened #48 "sshfs mount with docker-compose for a service"
I can not mount the volume in an service environment `docker-compose.yml` file. Everything works fine per command line.

I created the volume:
[code]
And starting via cli works:
[code]

If I want to start the same container as a docker service the application is not running. I tried following `docker-compose.yml` version:

[code]

What is the proper `docker-compose.yml` structure to have the same

[2018-02-01 21:54] jfinlins commented on #45
@swvajanyatek - did you get this figured out? I am having exactly the same error. I am also new to this plugin and docker.

[2018-02-01 22:58] swvajanyatek commented on #45
@jfinlins - unfortunately, no.  i moved forward with sshfs from inside the container.

[2018-02-02 08:40] airhuman commented on #45
the same issue.

[2018-02-05 12:01] vincentracine commented on #45
Getting the same issue

[2018-02-05 14:19] scizzorz opened #49 "Permission denied when mounting sshfs volume as the working directory"
I'm running into a "permission denied" error when mounting an sshfs volume that's set as the `workdir` for the Docker container. I've narrowed it down to the smallest possible case that I can: https://github.com/scizzorz/sshfs-bug

Running `build.sh` will build two images, install `vieux/sshfs`, create a remote volume on `localhost`, and then run three containers, each with the volume mounted to `

[2018-02-20 09:55] alexanderkjeldaas commented on #34
@victort where is the `-o reconnect` option supposed to go?

[2018-02-20 19:58] vieux commented on #34
@alexanderkjeldaas `docker volume create -d vieux/sshfs -o sshcmd=<user@host:path> -o reconnect <volume-name>`

[2018-02-23 02:59] victort commented on #34
Yeah, so far I've gotten the mount to restore on reboots with it.
However I have not tested its resiliency further than that. so YMMV.

On 02/20/2018 11:58 AM, Victor Vieux wrote:

[2018-02-23 10:45] xelra commented on #34
@victort For perfect resilience against network issues, the container would need to use AutoFS to mount the SSHFS.
I'm using AutoFS on my root servers to automatically mount and keep remote mounts alive. The same can be achieved with systemd and fstab, but at least on a server that has the drawback that the system cannot boot if the remote location isn't available during boot. I'm unsure how a Doc

[2018-02-26 21:45] victort opened #50 "can't build on ARM (32bit armv7l)(armhf)"
getting the following trying to build:

[code]

docker:
[code]

[2018-02-28 20:36] quwolt commented on #45
seems like plugin doesn't work...(((
got the same issue...

[2018-03-02 00:00] adamelliotfields commented on #45
@swvajanyatek, try changing `id_rsa.pub` to `id_rsa`. When SSHing into a server, you use the private key; the contents of the public key go into the `authorized_keys` file.

You can also update your settings to automatically include you key by running `docker plugin set vieux/sshfs sshkey.source=/home/<user>/.ssh/`

I just started playing around with `sshfs` today on a 3-node local cluster using d

[2018-03-05 17:15] kamikat commented on #45
Same issue here.

Using sshfs inside container works with `/dev/fuse` mounted and `--previleged` option.

[2018-03-08 10:11] aliaskovski commented on #45
docker run -it -v sshvolume:/tmp busybox pwd
Unable to find image 'busybox:latest' locally
latest: Pulling from library/busybox
d070b8ef96fc: Pull complete
Digest: sha256:2107a35b58593c58ec5f4e8f2c4a70d195321078aebfadfbfb223a2ff4a4ed21
Status: Downloaded newer image for busybox:latest
docker: Error response from daemon: VolumeDriver.Mount: exit status 1%!(EXTRA []interface {}=[]).

Same issue (

[2018-03-14 16:09] kifeo commented on #45
I have the same issue here :
docker run -it -v sshvolume:/mnt/here busybox ls /mnt/here

run on latest debian

[2018-03-16 12:56] dulom commented on #45
Same here with Docker version 18.02.0-ce, build fc4de44

[2018-03-20 17:57] jnials commented on #45
Same problem here with  17.12.1-ce.

[2018-03-22 15:38] chgarnier commented on #45
Same issue for me with Docker version 17.12.1-ce, build 7390fc6

[2018-03-26 21:55] jamiejackson commented on #48
I have the same question (and a couple others).

* @ucyo , how are you handling credentials/passwords?
* There's no way to use docker secrets for any of the credentials, correct?

[2018-03-26 22:01] jamiejackson commented on #43
Could you clarify what you ended up doing?

[2018-03-26 22:16] jamiejackson commented on #34
@xelra (or anybody else), I'm in the process of containerizing my stack, and one part of that stack was an autofs ssh mount. Am I going to have to continue to do that on the docker host and bind mount the host mount point into the container, or is there a better way?

[2018-03-26 22:20] jamiejackson opened #51 "sshfs volume across a swarm cluster?"
Does this plugin work across a cluster in swarm mode? If so, what's required on the nodes with regard to ssh keys?

[2018-03-27 12:56] xelra commented on #34
@jamiejackson There's nothing really special about the container. SSHFS will drop its connection and the only way to reliably keep it alive or mount on demand is with AutoFS.

I'm not 100% sure what you're asking, but if you're asking whether you should include AutoFS, then the answer is yes.
And please share or PR if you base your container off this project.

[2018-04-04 15:12] ucyo commented on #48
Couldn't figure this one out yet.  Don't have any creds saved since I'm using my sshkey for binding..
:dizzy_face:

[2018-04-10 11:00] Quba42 opened #52 "Can't create volume"
I am probably overlooking something basic, but when I issue the command

`docker volume create -d vieux/sshfs -o sshmd=<user>@<host>:<path> -o password=<not_telling> -o port=2222 sshvolume`

I get:

`Error response from daemon: create sshvolume: VolumeDriver.Create: 'sshcmd' option required%!(EXTRA []interface {}=[])`

Any help is appreciated.

[2018-04-10 16:00] Quba42 commented on #52
Wow it appears i literally wrote `sshmd` instead of `sshcmd`. I am closing this issue...

[2018-04-10 16:00] #52 closed

[2018-04-19 15:54] wdouglascampbell opened #53 "Get "flag provided but not defined: -console" when trying to install plugin"
When I try to install the plugin I get the following error response:

[code]

[2018-04-19 19:54] ucyo commented on #48
Saw your other issue #51 . Is there an progress? What is your work around?

[2018-04-20 12:32] jamiejackson commented on #48
I never solved it. I'm mounting on the host with autofs for now.

[2018-05-02 19:57] Cyber1000 commented on #45
Same here (17.04.0-ce, build 4845c56).
Installing the plugin with DEBUG=1, doesn't change anything.
Paths are ok, "normal" sshfs is working

Any solutions or at least ideas how to debug this?

[2018-05-03 07:01] paniabhisek commented on #21
@vieux hi, for `vieux/sshfs:latest`, yesterday I was getting the same error. but luckily today I'm getting different error :)

**Commands I've executed**:

[code]

For the above I'm getting

[code]

But If I execute without using the volume and run `sshfs` within container it works fine:
[code]

I've also tried
[code]
but no luck till now

[2018-05-03 09:21] paniabhisek commented on #21
If I do `docker run -it -v sshvolume:/pt --name ssh-new ssh-new /bin/bash` without `--privileged`, I get

[code]

Any idea ?

[2018-05-03 19:25] Cyber1000 commented on #45
Found a solution:

- update 2018-05-02: The error-message was better here, for my system it said "connection reset by peer", which means for this specific system, that password wasn't found (or other kind of login problem)
-  I normally use sshkey.
- At first time I have forgotten to set the sshkey (as stated in the Readme here on github)
- I thought I could set it afterwards with "docker plguin s

[2018-05-14 13:15] fhaefemeier commented on #53
I have the same issue on Fedora 26. Docker Version 1.13.1 (API 1.26), runc 1.0.0-rc4+dev

[2018-05-15 13:24] sam-kamerer opened #56 "Can't install plugin when docker root directory not equal /var/lib/docker"
You can reproduce this if you run dockerd with custom root directory.
(--data-root string    Root directory of persistent Docker state (default "/var/lib/docker"))

Example:
[code]

[2018-06-01 19:58] mrthiti opened #57 "I get error Error: ENOTCONN: socket is not connected, mkdir './images/20180530'"
I have no problem running but next time it error "Error: ENOTCONN: socket is not connected, mkdir './images/20180530'"

[2018-06-05 18:05] saadlu opened #58 "How do debug when password-less mount does not work"
Hi,

I am having problem mapping container volume with ssh key. With password it works fine.

So any way to debug what is happening? I have installed the plugin with DEBUG=1

[code]

Please note sshfs itself works without password from the host machine.

[2018-06-12 13:07] dragongame opened #59 "Use Port when generating the md5 hash sum"
I have multiple dockers that I want to share some read only data using the sshfs volumes. They all live on the same machine but are accessible via different ports. However, they all get the same volume path, meaning I can only use one:

https://github.com/vieux/docker-volume-sshfs/blob/1e0cd2fcb72d6af0a2ad4689faed8c312124517c/main.go#L105

Please consider also including the port when generating th

[2018-06-15 16:05] cristobalmejia opened #61 "Bad owner or permissions on /root/.ssh/config"
Having issues setting up with sshkey, Im getting this error when -o debug

`Bad owner or permissions on /root/.ssh/config`

Installed like:
`sudo docker plugin install vieux/sshfs  DEBUG=1 sshkey.source=/home/usermedia/.ssh`

Mounting:
`sudo docker volume create -d vieux/sshfs -o cache_timeout=72000 -o attr_timeout=72000 -o auto_cache,reconnect -o IdentityFile=/home/usermedia/.ssh/private.pk -o ss

[2018-06-22 22:25] nutcr4cker commented on #44
Just another case of same behaviour can be selinux. check logs of selinux eventually you can allow this in selinux by:
setsebool -P virt_sandbox_use_fusefs 1

[2018-08-10 13:26] sreejithhere opened #62 "Unable to use plugin in Swarm"
I am trying to create the a swarm using the sshfs plugin as the volume driver.
My stack has a volume defined as below

    volumes:
      ssh-data:
        driver: vieux/sshfs
        driver_opts:
          sshcmd: root@server:/data
          password: root

The stack has two services defined.  The first `server` runs a simple ssh server with username and password root:root.  The second one is a s

[2018-08-29 13:10] elasti-jeans commented on #58
I'm having the same issue with the current master branch.

To elaborate:
- ssh works _w/o_ password
- sshfs works _w/o_ password
- sshfs docker volume plugin works _with_ password
- sshfs docker volume plugin **fails** with "Connection reset by peer" w/o password (tried to specify the key explicitly or use the default one - the result is the same)

Built next based on the following commit:
`1e0cd2

[2018-08-30 16:18] h0tbird commented on #39
Perhaps defining a user at volume creation time `-o SshAuthUser=myuser`. And reading that user's `$SSH_AUTH_SOCK` at mount time? Does that make any sense @vieux ?

[2018-09-03 16:26] h0tbird commented on #39
Changing the `config.json` like this:
[code]

...I am able to do stuff like this:
[code]

[2018-09-14 23:25] phebous opened #63 "unable to remove bad volume"
I accidentally created a volume with an illegal character in it (i.e. /) Here is the volume listing:

/# docker volume ls
DRIVER               VOLUME NAME
vieux/sshfs:latest   /certs

I made sure no container were running and not even present.

/# docker container prune
WARNING! This will remove all stopped containers.
Are you sure you want to continue? [y/N] y
Total reclaimed space: 0B

/# docker

[2018-09-19 08:56] ITmaze commented on #58
At the risk of supplying a ME TOO, I'm seeing the same behaviour:

[code]

I am using Boot2Docker 18.02.0-ce (TCL 8.2.1); HEAD : 99245f4 - Thu Feb  8 17:43:39 UTC 2018 as my host on a VMware Fusion VM on an iMac.

I can ssh with and without password. Paths exist.

[code]

I've also tried:
- Enabling `DEBUG=1` in the plugin
- Enabling sshcmd debug options with `-o LogLevel=DEBUG`
- Adding the key d

[2018-11-01 08:22] aartigao opened #64 "Can't enable on RPi1 (armv6l) nor RPi3 (aarch64)"
Hi!

I've several RPis (Versions 1 and 3) with Arch Linux ARM installed which I'd like to use as a Swarm cluster. All have package **sshfs** installed and tested, but I can't install/enable the plugin (all models return the same error).

The plugin seems to install...
[code]
but doesn't want to start:
[code]
Plugin installs fine on my laptop (although **sshfs** is not installed there).

Installati

[2018-11-14 06:23] letiscoding opened #65 "how to using it in docker-compose with this"
version: "3"
services:
  php:
    build: .
    volumes:
      - ./html:/var/www/html
  web:
    image: nginx
    links:
      - php
    ports:
      - "8888:80"
    volumes:
      - php?/index.html:/var/www/html/index.html
      - ./default.conf:/etc/nginx/conf.d/default.conf
volumes:
  php:
      driver：vieux/sshfs:latest
      sshcmd: "usr@10.30.0.12:/swarm/data/web/"
      password: ********
i

[2018-11-15 13:42] yijing1998 commented on #43
I ran into the same problem, can you tell me how to do with it, Thank you! @victort

[2018-12-04 20:08] ngalaiko commented on #64
You need to build it yourself for arm architecture.

[2018-12-07 17:09] h0tbird commented on #39
Related PR: https://github.com/vieux/docker-volume-sshfs/pull/66

[2018-12-14 12:57] ani2life commented on #58
@ITmaze , I have the same problem.
I found a reason not to work with `-o IdentityFile`.

When installing the plugin, `sshkey.source` is required.
[README Using an ssh key](https://github.com/vieux/docker-volume-sshfs#using-an-ssh-key)
[code]

Even if it is already installed, you can change it with `plugin set` command.
[code]

Inspect the vieux/sshfs plugin
[code]

`sshkey.source=/home/<user>/.ssh

[2019-01-01 15:12] usmcamp0811 commented on #65
So I figured this out it seems...

If you `docker-compose up` and wait for it to get up then do `docker volume ls` you will see it likely created another named volume prefixed with your container name.

[code]

[code]

As you can see I have my first volume that I created `campnet-movies` thinking hey I am doing this correctly.. then I looked and saw that it created that `plex_campnet-movies` volum

[2019-01-01 15:13] usmcamp0811 commented on #65
So I figured this out it seems...

If you `docker-compose up` and wait for it to get up then do `docker volume ls` you will see it likely created another named volume prefixed with your container name.

[code]

[code]

As you can see I have my first volume that I created `campnet-movies` thinking hey I am doing this correctly.. then I looked and saw that it created that `plex_campnet-movies` volum

[2019-01-10 20:08] Joniator commented on #65
See #48
[code]

[2019-02-26 03:52] kushtrimjunuzi commented on #15
try this workaround, it did worked for me

sudo bindfs --chown-ignore --chgrp-ignore /sshfs-mountpoint /destination

[2019-02-27 14:22] Marcel-B commented on #62
Same error here. Any solutions?

[2019-03-13 01:57] najibdarma commented on #57
I have similar issue, have you find any solution?

[2019-03-21 12:24] maxi-marufo commented on #63
I had the same problem. I've also tried removing the plugin and installing it again, but still the same.

[2019-03-21 12:35] maxi-marufo opened #67 "Security issue: Running a container for second time using a volume that already exists"
I found a small issue when running for second time a container that had used a sshvolume. The first time I do this:

docker run -d \
  --name sshfs-container \
  --volume-driver vieux/sshfs \
  --mount src=sshvolume,target=/app,volume-opt=sshcmd=test@node2:/home/test,volume-opt=password=testpassword \
  nginx:latest

it creates the volume, and runs the container. But if I run that same command for

[2019-03-21 12:40] thaJeztah commented on #67
I think that's expected; you're creating a named volume (`sshvolume`), so that is persisted after the container exits

[2019-03-25 02:49] letiscoding commented on #65
thank you very much,i get it.  @Joniator  @usmcamp0811

[2019-03-26 16:39] guysoft opened #68 "Using IdentityFile setting with docker-compose"
Hey,
How would I do use an IdentityFile setting with docker-compose?
I tried:
[code]
But did not seem to work

Neither did:
[code]

I get:
[code]

[2019-03-27 13:31] geoffmyers commented on #68
I am experiencing the same issue:

[code]

Please advise. Thanks for any help!

More details:

- vieux/sshfs:latest
- Docker version 18.09.2, build 6247962
- Ubuntu 18.10
- I am able to successfully connect to the remote SSH server from the Docker host using the appropriate key in `~/.ssh`, which is defined in my `docker-compose.yml`:

[code]

[2019-03-27 13:52] geoffmyers commented on #68
[This solved the issue for me.](https://github.com/vieux/docker-volume-sshfs/issues/58#issuecomment-447317661)

[2019-03-28 17:04] guysoft commented on #68
I moved to using a password and it seems to work well as a workaround for me.

I can't touch it now because I have production stuff mounted. So if you want you can close this. I might be able to test, but not soon.

[2019-04-06 20:56] mike391 opened #69 "Error response from daemon: dial unix /run/docker/plugins/<random-uuid>/sshfs.sock: connect: no such file or directory"
Im running an x64 Debian system and tried to install the plugin both from source and from :latest.

Upon installing/enabling I get this error:

```Error response from daemon: dial unix /run/docker/plugins/<random-uuid>/sshfs.sock: connect: no such file or directory```

Ive tried creating the directory ```/run/docker/plugins/<random-uuid>``` but whenever I enable the plugin it deletes that director

[2019-04-09 04:30] Singwai commented on #62
Things you should check.

the host of the container need to able to ssh to the file system host including to itself.

if your environment has only single node, make sure the ssh command actually work.
Another thing worth checking is that if you can ssh using root? why you want that anyway.

[2019-04-09 14:27] mike391 commented on #19
@rootsongjc Can you please enlighten us on how you solved this?

[2019-04-09 14:41] rootsongjc commented on #19
Sorry, @mike391 This is an issue of two years ago, I just flag it was solved but I didn't use it anymore.

[2019-04-15 18:19] marco-brandizi commented on #45
@Cyber1000, I don't get what this `sshkey.source` is: the path to my user (on the Docker's host, my laptop)?  A path used in the containers? Something else? Moreover, in your comment you say `sshkey.source=/home//.ssh/`, while the README says `sshkey.source=/home/<user>/.ssh/` (which `<user>`? On which host?).

[2019-04-15 19:08] marco-brandizi commented on #45
To me it was a problem of understanding the needed paths correctly. I could clarify this thanks to #58, but only partially:

  - `sshkey.source`, a  plugin setting, is where keys are taken, to be copied into the containers. This will contain the keys of the hosts+filesystems that you want to mount (it should be a good idea to set `authorized_keys` too under this directory, putting the public keys

[2019-04-18 13:45] mike391 commented on #69
Just in case anyone else runs into this, I solved it.  After seeing `permission denied` in `docker.log` I started looking at permissions.  Make sure the volume where /var/lib/docker resides is not mounted as `noexec`. Mounts with  `noexec` somehow allows running containers but not plugins.

[2019-04-18 13:45] #69 closed, assigned to nobody

[2019-04-18 13:51] mike391 opened #70 "Share volume over SMB"
Is it possible to share the sshfs docker volume over smb?

[2019-05-15 09:44] xklid101 opened #71 "Unable to mount sshfs-volume with docker user namespace enabled (userns-remap: default)"
It seems impossible to use sshfs with user namespace remapping enabled in docker daemon

Docker version is 18.09.3

`/etc/docker/daemon.json` contains
[code]

volume is created like this
[code]
then container run with volume mount
[code]

getting following error
[code]

When i turn off user namespace remapping and restart docker, everything works ok.

Is some more configuration needed to work with

[2019-06-13 09:47] bscheshirwork commented on #45
I see:
[code]
if I use key from non-root user. Docker run volume plugin **from root** and
I have a problem with permission for secret key.
[code]
**Solution (work for me)**
Use ssh for `root` user. Create a new key pair and use it:
[code]

[2019-07-03 08:32] dingrui37 opened #72 "Connection reset by peer"
Hi, when I use this plugin, it always give an error, can somebody tell how to solve it?
[code]

[2019-08-29 07:28] kesavkolla commented on #72
I too have the same issue.  Any solution to this?

[2019-09-22 02:43] kovalev94 opened #73 "Unable to lchown volume"
Hello. I have centos 7.7 on 2 servers. I successfully creates volume with this command:
[code]
But when i tries to use this volume in container i have an error like this:
[code]
Also if i tries to use empty directory everything work fine.

And the most funny thing is when i put some file in /home/test there is no error with coping files when container runs and i have this files in /home/test:
[cod

[2019-10-01 17:57] fryfrog commented on #70
You could find a samba image and pass in an sshfs volume to share. Not sure if samba docker images exist though.

[2019-11-19 13:31] mike391 opened #74 "Modify existing mount?"
I have an ssh mount ive been using for a while, but the IP changed. Is it possible to modify the mount without re-creating it?

[2019-12-14 06:27] houxiyao commented on #45
@bscheshirwork Hello, I also encountered this problem, but I have this problem under the root user, is there any way to solve it?
Or where is the problem?

[2019-12-16 08:21] bscheshirwork commented on #45
@houxiyao try to check ssh connection from root to destination without docker sshfs plugin (try to only connect by ssh)

[2019-12-16 08:23] bscheshirwork commented on #45
also check config `sshkey.source=/root/.ssh/` and corresponded folder `/root/.ssh/`

[2020-01-13 15:24] SqLL opened #75 "mount volume sshfs between stack"
Hello everyone,

**Goal**
Is it possible than two different docker volume ssh use the same mountpoint?

**Expected**
Because I have two docker volume, i expect than there is two different mountpoint.
(Maybe that is a wrong assumption..)

Context :
In two separate docker stack, I describe a volume like this :
[code]
stack1_file-feedback is created
that is fine and the volume and everything is worki

[2020-01-17 15:22] chandu2035 commented on #45
Seems there is bug in vieux/sshfs volume driver plugin.
Tried below steps as part of troubleshooting:
1. Enabled ssh authentication between two nodes (manager and worker) with same docker version.
2. Used same user id for ssh (docker).
3. Created directory (/mnt/data) in worker node with full permissions
4. Created volume with sshfs volume driver with above mentioned path
**$ docker volume ls   (m

[2020-01-25 18:59] rcarmo commented on #68
I've been trying my hand at this, and @geoffmyers' suggestion to look at #58 did not work for me.

I have tried enough times that I set up a `Makefile` to completely reset the plugin:

[code]

...and have added all conceivable debug options to the `docker-compose` file:

[code]

...and `docker plugin inspect` looks OK:

[code]

What I see in `journalctl -f -u docker.service` is this:

[code]

So I

[2020-02-18 12:12] Fuseteam commented on #72
oh dear just when i was looking for an solution

[2020-03-06 11:14] danvim commented on #72
My `sshvolume` only works when using `-o password=xxx`, but when I use `-o IdentityFile=xxx`, The error is always Connection reset by peer.

[2020-03-06 11:24] danvim commented on #72
I think the issue is related to #61. By creating with volume with `-o debug` flag and trying to run busybox, it shows the message:

[code]

I didn't have the `config` file. I then tried added a `root` owned and `chmod 600` to the new empty config file. The error is still the same.

[code]

[2020-04-06 10:05] GRX opened #76 "lchown permission denied (non-root user)"
Hi,

I'm trying to get the sshfs volume working for my backup stack, but everytime I try to mount the endpoint I get prompted with permission denied.

With the user that's running docker-compose, I can access the folder so I'm not sure why this is going wrong.

Error when running docker-compose:
```Error response from daemon: failed to copy file info for /var/lib/docker/plugins/a1318307eab6ed3e2bc

[2020-04-06 10:06] GRX commented on #73
Did you manage to solve this?

[2020-04-15 10:49] andanotherusername commented on #76
You can workaround this issue by leaving a dump file on the remote location.

[2020-05-15 21:34] a-pashkov commented on #45
I've added single quotes and it worked
[code]

[2020-06-03 20:34] richardrey commented on #64
Hello, is there anyone who can tell me how I can build the plugin.

thank you very much to who can help me

[2020-07-07 13:59] sbriels commented on #76
I didnt try it yet with docker compose, but I also couldn't make any connections. I finally solved it by:

1. installing the plugin as: docker plugin install --grant-all-permissions vieux/sshfs sshkey.source=/root/.ssh/
2. setting up public/private key for root (sudo -i , then ssh-keygen -b 4096 -t rsa )
3. setting up the volume: docker volume create -d vieux/sshfs -o sshcmd=user@192.168.1.1:/home

[2020-07-07 14:25] sbriels opened #77 "Can only remove volume after running system prune --volumes"
After quite some trial and error I noticed I can only remove volumes after I ran "docker sytem prune --volumes". Is this the intended behaviour? If so it would be good to put this in the readme?

Ran steps:
1. installing the plugin as: docker plugin install --grant-all-permissions vieux/sshfs sshkey.source=/root/.ssh/
2. setting up public/private key for root (sudo -i , then ssh-keygen -b 4096 -t

[2020-08-04 09:40] ZXY0806 opened #78 "Docker leaving zombie processes everytime i mount a vieux/sshfs volume to create a container."
I have few volumes created with the vieux/sshfs driver, and i create some containers which mount one of these volumes.

The containers spawned by the services execute a single script, after which the container finishes/exits. The comman may like this:
"docker run --rm -v {ssh_volume_name}:/home/data --entrypoint='pwd' {image_name}"

All works smooth, except that there is exceptionally 4 zombie pro

[2020-08-17 22:48] LombardiDaniel commented on #64
I've ran into this issue today, while trying to run it on my Pi4. I have never built a package, how should I do it? Just run the makefile? And after that, how would I tell docker to use it?

[2020-09-21 08:02] lpakula opened #79 "Being able to change mountpoint explicitly"
At the moment mount point is computed as follow

[code]
So it's not possible to mount more than one volume with the same sshcmd due to the conflict.
Could we have an extra argument to customize mountpoint to avoid such conflicts?

It's a blocker for sshfs volume with telepresence as described below
https://github.com/telepresenceio/telepresence/issues/1379

[2020-09-21 08:07] lpakula commented on #79
@vieux is this project still maintained?

[2020-10-17 19:47] ivandeex commented on #78
A similar problem was reported in https://github.com/trajano/docker-volume-plugins/issues/29 and fixed in https://github.com/trajano/docker-volume-plugins/pull/30#issuecomment-700856794

[2020-10-18 13:08] netlander opened #80 "Error connecting from MySQL swarm worker"
A MySQL database deployed on a stack in a swarm worker seem to be changing volume folder permission and not able to actually start the container:

![image](https://user-images.githubusercontent.com/4721044/96368263-f88a5700-114a-11eb-9bd8-e5d6fcdab4c3.png)

Even when manually changing the permission on the folder as seen bellow, the container changes it back to `999 docker`

![image](https://user-

[2020-11-19 11:50] abuisman commented on #19
I am running into this on a raspberrypi right now. Any ideas on how to fix? Rebuild on device itself?

[2020-12-16 22:32] ogmundur commented on #19
If you build the plugin on the Raspberry Pi itself, it works fine. Here were the steps I performed (on the Raspberry Pi):

`git clone https://github.com/vieux/docker-volume-sshfs.git`
`cd docker-volume-sshfs`
`make all`
`make enable`

[2020-12-18 12:39] MarcinWieczorek commented on #25
You may have assumed that because by default docker home is in `/var/lib/docker`. Thank you for allowing that variable to be settable, but I think defaulting to `Docker Root Dir` as in `docker info` would be better.

[2020-12-18 13:42] antontre1 commented on #19
@ogmundur  thanks a lot, did it too and works fine.
May I ask you how did you decide to do this ? I mean what drove you to the conclusion to rebuild it on this arm machine to make it work?
again thx a lot

[2020-12-20 13:15] antontre1 commented on #19
@ogmundur  just one basic question : how do you integrate the SSH private key when you launch the make all?
I mean, I didn't find way to add SSH private key option when I use makefile.

Thanks a lot

[2020-12-20 13:37] ogmundur commented on #19
Very welcome. I am afraid I just stumbled on this via trial and error. I haven't tried adding a private key yet (I just used a password).

[2020-12-20 13:42] antontre1 commented on #19
Argh Finally found the correct way to make it happen on my system (one rpi as a server, one mac hosting the remote volume), thanks to this do not have to have to share my password.

1. installing `vieux/sshfs` with make all (as @ogmundur recommended ON ALL MACHINES, for me : rpi (where my server is) and mac (to put my volume shared)
2.  be sure to have a root keygene already done (for me : in Pi),

[2020-12-20 14:04] antontre1 commented on #45
Found this that can potentially be helpful ...

Look at : https://github.com/vieux/docker-volume-sshfs/issues/19#issuecomment-748609520

[2021-03-03 07:10] glensc commented on #64
to build simple:

[code]

Edit: need to clone repo, as otherwise source is missing:

[code]

but how to enable using that docker image?

[2021-03-05 12:58] rafipiccolo opened #81 "total data loss :) again"
i guess i cant use this module in production.
i cant understand what caused that. must be unstable in some situations.

this morning :
docker volume rm xxx
caused all data to be deleted on the the remote server...

what i exactly did was

[code]

i did remove other volume later without data loss.
so im not sure this command does shit in the soup.
but i have no data left

[2021-03-24 19:55] MarcinWieczorek commented on #78
I confirm that zombies appear.

[2021-04-09 13:50] chrlutz commented on #76
I'm getting this error message as well:

[code]
In my case this seems to happen because I have use two sshfs volumes (nextcloud-db and nextcloud-html) on the same remote ssh server like in this example:

[code]

I figured out that it seems I cannot use both volumes at the same time.

It is possible to mount volume nextcloud-db to a mariadb container, but if I startup a second container (see docker

[2021-04-09 13:54] chrlutz commented on #76
What exactly do you mean by that? Do you have got an example? How can I produce such a dump file?

[2021-04-15 13:29] 24HOURSMEDIA commented on #19
Had the same problem with rpi4 and ubuntu server. This answer solved it.

[2021-05-14 18:44] daveschere opened #82 "installation does not work"
docker plugin install vieux/sshfs

Plugin "vieux/sshfs" is requesting the following privileges:
 - network: [host]
 - mount: [/var/lib/docker/plugins/]
 - mount: []
 - device: [/dev/fuse]
 - capabilities: [CAP_SYS_ADMIN]
Do you grant the above permissions? [y/N] y
latest: Pulling from vieux/sshfs
52d435ada6a4: Download complete
Digest: sha256:1d3c3e42c12138da5ef7873b97f7f32cf99fb6edde75fa4f0bcf9ed

[2021-08-11 07:11] aduzsardi commented on #82
works just fine using these options
[code]
i put my ssh private key in `/srv/.ssh/` owned by root and **chmod 700 /srv/.ssh/** and **chmod 600 /srv/.ssh/id_rsa**

and then created volume using
[code]

[2021-08-12 00:40] blackfeather9 commented on #76
I am having the same issue but may have a solution. Trying to use docker-compose to attach sshfs volumes.

docker version: 20.10.7
host: ubuntu 20.04 (kernel 5.4.0-80-generic)

Tried with public key authentication as well as password. Volume is created, user has full r/w/x over ssh with either method, can manually edit. Run docker-compse and watch auth logs on storage server, no problems there. Re

[2021-08-18 16:13] freqmand commented on #81
me too today, all my data are lost after running `docker-compose down -v`

@rafipiccolo did you find a way to figure out this issue ?

is there any way to **bind** the volume in the remote server so it will persist forever ? is readonly volume could fix the issue ? I'm just mounting existing data to the container, so I don't have any new generated data to be stored in my remote server

[2021-08-19 09:12] rafipiccolo commented on #81
sadly no. i still consider using another storage driver but it needs time to study.
by the meantime i dont rm sshfs volumes without disconnecting network or shuting down remote host :)

[2021-09-05 13:46] mzramna commented on #64
https://docs.docker.com/engine/extend/#:~:text=Creating%20the%20plugin,up%20in%20docker%20plugin%20ls%20.
here explains how to do the compilation,btw using exactaly this repo as sample

i did exactaly this commands to work:
<pre><code>git clone https://github.com/vieux/docker-volume-sshfs
cd docker-volume-sshfs
sudo docker build -t rootfsimage .
id=$(sudo docker create rootfsimage true)
sudo mkdir

[2021-09-06 21:09] daviddavo commented on #81
Same problem here.

I'm not able to provide any logs, sorry

[2021-09-22 09:48] Dr-Shadow commented on #81
I would be happy to help but I don't know how to reproduce this problem

[2021-09-22 10:05] rafipiccolo commented on #81
Thanks, it would be nice to have some insights / solutions :)

The code source is only 300lines of code. So from reading it through, with my in existent go knowledge, I guess the destructive part is the remove function . Is this code ever needed ?

https://github.com/vieux/docker-volume-sshfs/blob/1e0cd2fcb72d6af0a2ad4689faed8c312124517c/main.go#L114

[2021-09-22 10:09] daviddavo commented on #81
Maybe there is a problem in docker codebase, that it tries to delete every file before deleting the volume?

[2021-10-22 15:01] mzramna commented on #64
i've figured out that could happend an problem at the build due to not all armhf boards support the [time64](https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.13.0#time64_requirements),to solve this you have to change the alpine into the Dockerfile version to [3.12.3](https://github.com/alpinelinux/docker-alpine/issues/135#issuecomment-761811372) since this works,since i've done this an

[2021-12-09 18:16] jalbou opened #84 "volume is disconnect after few times"
After launching the container and idling for some minutes the volume is no longer available :

ls: cannot open directory '.': Transport endpoint is not connected

[2021-12-11 19:41] Jip-Hop commented on #82
On a fresh Ubuntu 20.04.3 LTS I got the same error:
[code]

Directory `/var/lib/docker/plugins/` doesn't exist when installing docker using snap (which the ubuntu server installation wizard offers). I removed docker with `snap remove docker` and installed it according to the [official docker instructions](https://docs.docker.com/engine/install/ubuntu/#install-using-the-repository). Then I could in

[2022-02-15 10:00] Brenner87 commented on #61
Facing the same problem here. Does anybody have a solution?

[2022-02-16 15:41] jamesstidard opened #85 "Stale Cache Causing Truncated File Reads"
Hi,

I'm experiencing inconsistent state on reading a recently written to file from a separate container on another node. Initially, I thought this was a race condition in my codebase, but that doesn't appear to be the case.

NOTE: This also is only reproducible with two physically separate machines, and cannot be reproduced on with two containers on a single machine sharing the same volume mount.

[2022-02-25 13:16] arvinab opened #86 "Permission Denied in Docker Vieux/sshfs?"
hi

How to Fix Permission Denied in Docker Vieux/sshfs?

[2022-03-10 01:28] dmolesUC commented on #81
What's the rationale for calling `os.RemoveAll` from `Remove`?

https://github.com/vieux/docker-volume-sshfs/blob/v1.4/main.go#L128

[2022-03-10 04:01] danschmidt5189 commented on #81
I just tested this out and _did not_ lose any data. The setup:
* Red Hat Enterprise Linux Server release 7.9 (Maipo)
* Kernel 3.10.0-1160.53.1
* Docker Server 20.10.12

And here's the test (essentially, had to redact/simplify for obvious reasons):

[code]

The debug logs don't show anything worth mentioning.

The full call chain from os.RemoveAll is long and has quite a few breakpoints, notably on

[2022-03-10 17:15] dmolesUC commented on #81
Some more discussion and investigation on a similar issue in `davfs` (forked from `sshfs`): https://github.com/fentas/docker-volume-davfs/issues/6

[2022-03-10 18:18] dmolesUC commented on #81
FWIW, it looks like [Amazon's ECS volume driver unmounts before removing](https://github.com/aws/amazon-ecs-init/blob/v1.60.0-1/ecs-init/volumes/ecs_volume_driver.go#L103) which seems like the right semantics here and wouldn't do any harm — the volume protocol plugin [docs for Remove](https://docs.docker.com/engine/extend/plugins_volume/#volumedriverremove) say “delete the specified volume from di

[2022-03-22 23:22] more-pepsi commented on #82
Also can't install on Debian bullseye . Tried building myself, but can't then install it via docker plugin install [what]

[2022-03-23 00:54] more-pepsi commented on #19
How can I set the sshkey.source flag when using this method?

as a hack fix i've set ```docker plugin set eae sshkey.source=/home/bill/.ssh/```

[2022-04-28 15:10] yyihuan commented on #81
I have the same problem.

[2022-06-20 13:08] engrjislam commented on #19
Also works in `Nvidia Jetson Xavier`.

[2022-07-20 07:51] dberardo-com commented on #84
try using reconnect:"" as driver_opt. see also my article here: https://medium.com/@dberardo/sshfs-based-docker-volume-mounts-da2072b377c2

[2022-07-20 07:56] dberardo-com opened #87 "How to reduce disk space usage"
Unfortunately i have noticed that the "propagated-mount" folder insider the /ar/lib/docker/plugins directory basically mirror the remote host directory. This causes a lot of disk usage on the local host machine mounting the volume. I assume this is done for caching purposes, but is it possible to avoid this?

And could this also be the root cause of the data loss caused by removing the volume moun

[2022-08-27 11:34] kalsan commented on #72
I can reproduce this error, even when following the instructions from [https://github.com/vieux/docker-volume-sshfs yielding:
](https://github.com/vieux/docker-volume-sshfs#using-an-ssh-key)

[2022-08-27 11:42] kalsan commented on #72
OK the solution is described in #58 :

The volume create command must have the ssh key set to `/root/.ssh/id_rsa` instead of `home/your-user/.ssh/id_rsa` because the plugin mounts it differently (check #58 for details)

[2022-09-28 19:08] kinghat commented on #72
this didnt work for me by just changing to `/root/.ssh/id_rsa` because the incorrect config was still applied to the volume that was already created in my failed attempts. it still showed my users ssh dir. i needed to remove the volume and have it create it again with the proper config.

[2022-10-11 13:45] sr-verde opened #88 "Docker image is stale"
Docker image is stale and the current Dockerfile is pinned to golang:10. Is this project still maintained?

Best